# Sys
.DS_Store
Thumbs.db

# Node.js, Python
node_modules/
venv/
dist/

# IDE
.idea/
.vscode/
*.swp

# log & tmp & env
*.log
*.tmp
*.bak
.env

# Deploy
deploy.sh

# Astro cache
.astro/

# Binaries in root
FreakyFont.zip
fontfreaky.png