---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Text to 𝓯𝓻𝓮𝓪𝓴𝔂"
      description="So, who's freaky now? HAAAHAAAA!!! 😎"
    />
    <Form />
  </div>
</Section>
